* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}
:root {
  --text-color: #fff;
  --bg-color: #1b1f24;
  --second-bg-color: #22282f;
  --main-color: #13bbff;
  --other-color: #c3cad5;
  --snd-bf-color: #262b40;
  --mainn-color: #81acbe;

  --h1-font: 4rem;
  --h2-font: 3rem;
  --p-font: 1rem;
}
body {
  color: var(--text-color);
  background: var(--bg-color);
}
section {
  padding-top: 5em;
  height: 100vh;
}
/* Home */
.home {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 5em;
}
.home-content h3 {
  font-size: var(--h2-font);
  font-weight: 700;
}
.home-content h3:nth-of-type(2) {
  margin-bottom: var(--h2-font);
}
h3 span {
  color: var(--main-color);
}
.home-content h1 {
  font-size: var(--h1-font);
  font-weight: 700;
  line-height: 1.3;
}
.home-img img {
  width: 25vw;
  animation: floatImage 4s ease-in-out infinite;
}
@keyframes floatImage {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-2.4rem);
  }
  100% {
    transform: translateY(0);
  }
}
.about {
  text-align: center;
}
.about1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.contain {
  display: flex;
  flex-direction: column;
  color: var(--text-color);
  /* margin: 0 2em 2em 2em; */
  justify-content: space-around;
}
.contain .boxm {
  margin-bottom: 2em;
  background: var(--second-bg-color);
  padding: 1.7em;
  border-radius: 0.8rem;
  transition: 0.5 ease;
}

.contain .boxm:hover {
  border: 5px solid var(--main-color);
  transform: scale(1.001);
}
.boxm i {
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
}
.boxm p {
  font-size: 1rem;
}
.boxm h2 {
  text-align: center;
  font-size: 1.4rem;
  font-weight: bold;
  color: var(--main-color);
}
.about-img img {
  width: 35vw;
}

.about-content {
  max-width: 650px; /* Adjust the width as needed */
  margin: 2em 2em 10rem 2rem;
}
.about .contain {
  margin-right: 3rem;
}
.heading {
  text-align: center;
  font-size: 5rem;
  display: inline;
  font-weight: 600;
  margin-top: 0.2em;
}
span {
  color: var(--main-color);
}

.about-content h2 {
  text-align: left;
  line-height: 1.2;
  font-size: 4rem;
  margin-bottom: 2rem;
}
.about-content p {
  font-size: 1.2rem;
  text-align: justify;
  text-justify: inter-word;
}
/* Skliis */
.skills {
  text-align: center;
  padding-top: 5rem;
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.skills-box {
  flex: 1 1 300px;
  margin: 0 10px;
  border-radius: 10px;
  padding: 20px;
  background: var(--second-bg-color);
  border: 0.2em solid var(--bg-color);
  height: 25em;
  transition: 0.5s ease;
  margin-bottom: 20px;
  max-width: 300px;
}

.skills-box:hover {
  border-color: var(--main-color);
  transform: scale(1.02);
}

.skills-box h3 {
  font-size: var(--h2-font);
  font-weight: 800;
}

.skills-box i {
  font-size: 4.5rem;
  color: var(--main-color);
}

.skills-box p {
  font-size: 1.1rem;
  text-align: justify;
  text-justify: inter-word;
  margin: 1rem 0 2rem;
}

/* Portfolio */
.portfolio {
  background: var(--second-bg-color);
}
.portfolio-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 2.5rem;
  margin: 0 1.5em;
}
.portfolio-container .portfolio-box {
  position: relative;
  border-radius: 1.5rem;
  box-shadow: 0 0 0.8rem var(--bg-color);
  overflow: hidden;
  display: flex;
  border: 5px solid var(--main-color);
}
.portfolio-box img {
  width: 100%;
  transition: 0.5s ease;
  opacity: 0.9;
  height: 60vh;
}
.gitl {
  text-decoration: none;
}
.git2 {
  font-size: 3rem;
  font-weight: 600;
}
.portfolio-box:hover img {
  transform: scale(1.001);
}
.portfolio-box .portfolio-layer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.1), var(--mainn-color));
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 3.5rem;
  transform: translateY(100%);
  transform: 0.5 ease;
}
.portfolio-box:hover .portfolio-layer {
  transform: translateY(0);
}
.portfolio-layer h4 {
  font-size: var(--h2-font);
}
.portfolio-layer a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  background: var(--text-color);
  border-radius: 50%;
}
.portfolio-layer a i {
  font-size: 1.5rem;
  color: var(--snd-bf-color);
}
.portfolio h2 {
  margin-bottom: 2rem;
  font-size: var(--h1-font);
  text-align: center;
  display: inline-block;
  text-align: center;
  width: 100%;
}
.contact h2 {
  margin-bottom: 1.8rem;
  font-size: var(--h1-font);
  text-align: center;
  display: inline-block;
  text-align: center;
  width: 100%;
}
.contact form {
  max-width: 55rem;
  margin: 0.8rem auto;
  text-align: center;
  margin-bottom: 2.5rem;
}
.contact form .input-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.contact form .input-box input,
.contact form textarea {
  width: 100%;
  padding: 1rem;
  font-size: 1rem;
  color: var(--text-color);
  background: var(--snd-bf-color);
  border-radius: 0.8rem;
  margin: 0.7rem 0.2rem 0.7rem 0;
}
.contact form .input-box input {
  width: 48%;
}
.contact form textarea {
  resize: none;
}
.contact form .btn {
  margin-top: 0.8rem;
  cursor: pointer;
}